<h2>Dashboard</h2>

{{#if posts.length}}
<section>
  <h3>Your Posts</h3>
  <ol>
    {{#each posts}}
    <li>
      {{> post-info}}
      <a href="/dashboard/edit/{{id}}">Edit</a>
    </li>
    {{/each}}
  </ol>
</section>
{{else}}
<p>You haven't created any posts yet.</p>
{{/if}}

<a href="/dashboard/new"><button>New Post</button></a>