<article class="post">
  <h2>{{post.title}}</h2>
  <p class="meta">Posted by {{post.user.username}} on {{format_date post.createdAt}}</p>
  <div class="content">
    {{post.content}}
  </div>
</article>

{{#if logged_in}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>
  <div>
    <button type="submit">Add Comment</button>
  </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if logged_in}}
<script src="/js/comment.js"></script>
{{/if}}